* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.img{
    justify-content: center;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: #0a2b27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.login-box {
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #21756b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #166158;
}
.btn-link {
    text-decoration: none;
    color: #fff; 
    display: block; 
    width: 100%;
    height: 100%;
}

.btn-link:hover {
    color: #f5f5f5; 
}

.extra-links {
    margin-top: 15px;
    font-size: 14px;
    color: #4cc5b7;
}

.extra-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.extra-links a:hover {
    color: #21756b;
    text-decoration: underline;
}
